[mysqld]
# Evita saturación del redo log
innodb_redo_log_capacity=1G

# File per table para InnoDB (opcional)
innodb_file_per_table=1

# Configuración recomendada para MySQL 8
default_authentication_plugin=mysql_native_password
